body {
    margin: 4pt;
}

iframe {
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.8);
    border: 0.5pt solid lightgray;
    width: 240px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.2));
    -webkit-backdrop-filter: blur(80px);
}

.hstack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.vstack {
  display: flex-inline;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.vstack > * {
    margin: 1px;
}

.icon {
    width: 24pt;
    height: 24pt;
    opacity: 0.8;
}

.title {
    font-family: -apple-system;
    font-size: 10pt;
    color: ButtonText;
    opacity: 1;
    -webkit-user-select: none;
}

.subtitle {
    font-family: -apple-system;
    font-size: 8pt;
    color: CaptionText;
    opacity: 0.6;
    -webkit-user-select: none;
}

.box {
    padding: 4pt;
    border-radius: 4px;
}

.box:hover {
    background: #419EFF;
}

.box:hover * {
    color: white;
    opacity: 1;
}

.box:hover .icon {
    -webkit-filter: invert(100%);
}
